<div id="contenu">
      <h2>Identification utilisateur</h2>


      <h2>Authentification réussie</h2>
      <h4>Veuillez cliquer sur le choix </h4>
      
      
      <a href="{{ path('renseigner') }}"><input type="button" name="Répondre" value="Renseigner la fiche"/></a>
       <a href="{{ path('consulter') }}"><input type="button" name="Répondre" value="Consulter la fiche"/></a>

      
      